body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}

html,
body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

#map {
    width: 100%;
    /* Adjust width to your desired size */
    height: 100%;
    /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: subtle shadow for effect */
    border-radius: 8px;
    /* Optional: rounded corners */
}

#map svg {
    /* background: yellow; */
    /* opacity: 50%; */
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

circle {
    pointer-events: auto;
}

svg circle {
    fill: steelblue;
    fill-opacity: 0.5;
    stroke: white;
}

#timePanel {
    margin-left: auto;
    display: block;
    gap: 1em;
    align-items: baseline;
    width:30%;
}

#time-slider {
    width: 100%;

}

#time {
    display: block;
    text-align: right;

}